<app-navbar>
</app-navbar>
<br><br> <br><br><br><br><br>
<div class="container">
    <div id="products-list" class="row">


        <div class="col-4 mb-3">
            <div class="card">
                <img src="./../assets/images/lu1.jpg" class="img-fluid">
                <div class="card-body text-center">
                    <h4 class="card-title">$3,400,000</h4>
                    <p class="card-text">A Modern villa that boasts clean lines and expansive windows tied together with strikingly bold features and material palette</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-warning btn-block">
                     <i class="fa fa-plus"></i> Add to demand 
                                </button>

                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="card">
                <img src="./../assets/images/lu1.jpg" class="img-fluid">
                <div class="card-body text-center">
                    <h4 class="card-title">$3,400,000</h4>
                    <p class="card-text">A Modern villa that boasts clean lines and expansive windows tied together with strikingly bold features and material palette</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-warning btn-block">
                     <i class="fa fa-plus"></i> Add to demand 
                                </button>

                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="card">
                <img src="./../assets/images/lu1.jpg" class="img-fluid">
                <div class="card-body text-center">
                    <h4 class="card-title">$3,400,000</h4>
                    <p class="card-text">A Modern villa that boasts clean lines and expansive windows tied together with strikingly bold features and material palette</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-warning btn-block">
                     <i class="fa fa-plus"></i> Add to demand 
                                </button>

                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="card">
                <img src="./../assets/images/lu1.jpg" class="img-fluid">
                <div class="card-body text-center">
                    <h4 class="card-title">$3,400,000</h4>
                    <p class="card-text">A Modern villa that boasts clean lines and expansive windows tied together with strikingly bold features and material palette</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-warning btn-block">
                     <i class="fa fa-plus"></i> Add to demand 
                                </button>

                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="card">
                <img src="./../assets/images/lu1.jpg" class="img-fluid">
                <div class="card-body text-center">
                    <h4 class="card-title">$3,400,000</h4>
                    <p class="card-text">A Modern villa that boasts clean lines and expansive windows tied together with strikingly bold features and material palette</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-warning btn-block">
                     <i class="fa fa-plus"></i> Add to demand 
                                </button>

                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
            </div>
        </div>
        <div class="col-4 mb-3">
            <div class="card">
                <img src="./../assets/images/lu1.jpg" class="img-fluid">
                <div class="card-body text-center">
                    <h4 class="card-title">$3,400,000</h4>
                    <p class="card-text">A Modern villa that boasts clean lines and expansive windows tied together with strikingly bold features and material palette</p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-warning btn-block">
                     <i class="fa fa-plus"></i> Add to demand 
                                </button>

                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
            </div>
        </div>





    </div>
</div>
<br><br><br>

<!-- Navigation footer -->
<app-footer></app-footer>