<!--footer-->
<div id="my-footer" class="bg-light pt-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="widget-title">
                    <h3 class="mb-4 fs-5 text-secondary text-uppercase">TUN-HOME</h3>
                </div>
                <h4 class="text-warning">+91-85580-30604</h4>
                <p class="text-secondary m-0 mt-3">Mon. - Fri. <b>10:00 - 7:00</b></p>
                <p class="text-secondary">Sat. - Sun. <b>Off</b></p>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="widget-title">
                    <h3 class="mb-4 fs-5 text-secondary text-uppercase">About Shop</h3>
                </div>
                <ul>
                    <li><a href="#my-team">About</a></li>
                    <li><a href="./houses.html">houses</a></li>
                    <li><a href="./Contact.html">Contact</a></li>

                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="widget-title">
                    <h3 class="mb-4 fs-5 text-secondary text-uppercase">Our services</h3>
                </div>
                <ul>
                    <li><a href="#">Payment</a></li>
                    <li><a href="#">Order </a></li>
                    <li><a href="#">Investing </a></li>
                    <li><a href="#">Buy Property</a></li>
                    <li><a href="#">Sell Property</a></li>

                </ul>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="widget-title">
                    <h3 class="mb-4 fs-5 text-secondary text-uppercase">Newsletter signup</h3>
                </div>
                <form class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-12">
                        <label class="visually-hidden">Username</label>
                        <div class="input-group">
                            <div class="input-group-text"><i class="bi bi-envelope"></i></div>
                            <input type="text" class="form-control" placeholder="Username">
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-warning w-100">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>