.gradient-custom-3 {
  
    background: #fae484;
  
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
  
    background: linear-gradient(to right, rgba(250, 218, 132, 0.816), rgba(143, 211, 244, 0.5))
  }
  .gradient-custom-4 {
  
    background: -webkit-linear-gradient(to right,rgba(250, 218, 132, 0.816), rgba(143, 211, 244, 1));
  
    background: linear-gradient(to right, rgba(250, 218, 132, 0.816), rgba(143, 211, 244, 1))
  }
  
  
  
  .gotopbtn .fa{
    font-size: 28px;
    margin-top: 10px;
  }
  .gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    background:#f6faf8 ;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: black;
  }
  .gotopbtn:hover{
   background-color: rgba(143, 211, 244, 1); 
   color: black;
  }